*
{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: "Raleway", sans-serif;
}

a
{
    text-decoration: none;
}

section
{
    padding: 50px;
    text-align: center;
    background-color: rgb(19,28,21);
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.heading
{
    font-family: "Bona Nova SC", serif;
} 

p
{
    font-size: 75px;
    color: blanchedalmond;
    display: block;
}


aside
{
    /* height: dvh; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 70px; */
    transition: 1s;
    /* flex-direction: column; */
}


.as-1
{
    height: 35%;
}

.as-2
{
    height: 65%;
}


aside a
{
    width: 20%;
}

img
{
    height: 70%;
    width: 100%;
    border-radius: 20px;
    margin-top: 100px;
    display: flex;
    transition: 1s;
}




img:hover
{
    transform: translateY(-30px);
}







@media all and (max-width:600px)
{
    p
    {
        font-size: 50px;
    }
   
    h1
    {
        font-size: 13px;
    }
    aside
    {
        margin-bottom: 0px;
        /* align-items: flex-start; */
    }
    .ar-1,.ar-2,.ar-3,.ar-4
{
    margin-bottom: 300px;
}
}