
body
{
    background-color: rgb(36,36,36);
}

/* nav */

.dropdown-item
{
    font-family: 'Protest Riot', sans-serif;
}

.feedback-form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.setting
{
    transition: .5s;
    font-size: large;
}

.setting:active
{
    transform: rotate(90deg);

}


input
{
    height: 40px;
    width: 250px;
    border-radius: 10px;
    margin: 0;
}

textarea
{
    height: 80px;
    width: 370px;
    border-radius: 10px;
    text-align: center;
}

::placeholder
{
    font-family: "Teko", sans-serif;
    color: black;
    text-align: center;
}


/* main page */
.frontpgbg
{
    
    height: 760px;
}

.maincontainer
{
    display: flex;
    flex-wrap: wrap;
    padding-right: 0%;
}

#setting
{
    float: right;
    margin-right: 20px;
}

.maintext
{
    width: 50%;
    /* flex: 1 0 12 rem; */
}

.objective
{
    text-align: justify;
}


/* view skills btn */

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}







.spacebtw
{
    width: 20%;
}

.skill-btn
{
    height: 80px;
    width: 80px;
    color: aliceblue;
    border-radius: 50%;
    background-color: rgb(33,37,41);
    border: none;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: rgb(53, 53, 53) 0px 1px 40px 1px;
    margin-left: 85%;
    transition: 1s;
}
.skill-btn:hover
{
    height: 120px;
    width: 120px;
}
.skill-btn:active
{
    box-shadow: rgb(243, 230, 230) 0px 1px 40px 1px; 
}


.mainimage
{
    width: 30%;
    flex: 1 0 14rem;
    justify-content: center;
    align-items: center;
}



.firstimg
{
    width: 70%;
    flex: 1 0 8rem;
}


/* carousel */

.c-item
{
    height:600px ;
}

.c-img
{
    height: 100%;
    /* object-fit: cover; */
    filter: brightness(0.7);
}
.c-img:hover
{
    filter:brightness(1)
}


/* .carousel-inner > .c-item
{
    animation: fade-in linear;
    animation-timeline: view();
}

@keyframes fade-in {
    from{scale: .8;opacity: 0;}
    to{scale: 1; opacity: 1;}
} */





/* skill  */

.hskill
{
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 70px;
}


#skillhr
{
    width: 200px;
    transition: 1s;
}
#skillhr:hover
{
    width: 300px;
}

.secsec, .secsecinbox
{
    height: 800px;
    width: 100%;
    align-items: center;
}

.secsec
{
    
    background:linear-gradient(rgb(33,37,41),rgb(37, 35, 35),rgb(36,36,36) );
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cards
{
    margin-bottom:-100px;
}


#skillcards
{
    /* width: 0px; */
    margin-top: 40px;
    transition: 1s;
    
}
#skillcards:hover
{
    transform: translateY(-30px) 
}






/* gallery */


.gallery
{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gal-head
{
    height: 150px;
    font-size: 100px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: -50px;
    font-family: "Anta", sans-serif;
}

.video, video
{
    height: 150px;
    width: 100%;
    transition: 1s;
}

.video:hover, video:hover
{
    height: 400px;
    width: 100%;
}


/* feedback */

.feedback
{
    background:linear-gradient(rgb(33,37,41),rgb(37, 35, 35),rgb(36,36,36) );
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: url(https://i.pinimg.com/originals/1d/73/5a/1d735ad8eee8350adc96d50e1421ee6d.gif);
    object-fit: contain;
    align-items: center;
    height: 300px;
    width: 100%;
    border-radius: 20px;
    margin-top: 200px;
    margin-bottom: 120px;
}


/* cv */

.cv-sec
{
    height: 600px;
    width: 100%;
}
.cv-as
{
    height: 400px;
    width: 400px;
    background-color: #222;
    box-shadow: rgb(124, 125, 125) 0px 0px 40px 0px;
    color: rgb(126, 128, 130);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}
.cv-btn
{
    font-family: "Anta", sans-serif;
    color: rgb(255,193,7);
    font-size: 50px;
}
.fa-file
{
    color: rgb(255,193,7);
    font-size: 80px;
}
.fa-file:hover , .cv-btn:hover
{
    color: #7a00ff;
}
.fa-file:active , .cv-btn:active
{
    color: #ff0000;
}








/* social */

.sociallinks 
{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.soheading
{
    height: 75px;
    width: 100%;

}

.solicard
{
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    text-decoration: none;
}


.socards
{
    width: 200px;
    margin: 10px ;
}



#socardscs
{
    width: 500px;
    margin: 10px ;
}





@media all and (max-width:600px){
    .button-17
    {
        margin-top: -15px;
    }

    .secsec, .secsecinbox
    {
        height: 1200px;
    }

    .gal-head
    {
        margin-top: 110px;
        font-size: 50px;
        margin-bottom: -90px;
    }


    .sociallinks
    {
        flex-direction: column;
        

    }

    .linkss
    {
        display: flex;
        
    }
    .solicard
    {
        /* flex-direction: ; */
        margin-top: 40px;
        
    }
    #socardscs
    {
        margin: 10px ;

        
    }

    .socards
    {
        width: 170px;
        height:75px;
    }
    #socardscs
    {
        width: 170px;
    }

    .gallery
    {
        margin-top: 100px;
        height: 1000px;
        flex-wrap: wrap ;
    }
    
   .feedback
   {
    padding: 90px;
    height: 300px;
    width: 400px;
    margin-top: 65px;
    text-align: center;
   }
   .feed-bar
   {
    height: 30px;
    width: 200px;
    /* margin-left: -100px; */
    margin-left: -80px;
   }
   .fa-file
   {
    font-size: 70px;
   }
   .cv-btn
   {
    font-size: 30px;
   }
   video
    {
        margin: 10px;
    }


}


@media all and (max-width:1000px){
    .maintext
    {
        width: 100%;
    }
    .mainimage
    {
        opacity: 0;
    }
    .skill-btn
    {
        opacity: 0;
    }
    .frontpgbg
    {
        
        height: 500px;
    }
    .c-item
    {
        height: 265px;
    }
    
}


@media all and (min-width:1200px)
{
    .button-17
    {
        margin-top: 50px;
    }
    #socardscs
    {
        width: 420px;
        
        margin: 10px ;
    
    }


    
}


/* footer */

footer
{
    height: 635px;
    background-image: url(img-src/fooimg.jpg);
}



a
{
    text-decoration: none;
}