
body
{
    background-color: rgb(36,36,36);
    font-family: "Anta", sans-serif;
}

/* nav */

.dropdown-item
{
    /* font-family: 'Protest Riot', sans-serif; */
}

.feedback-form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.setting
{
    transition: .5s;
    font-size: large;
}

.setting:active
{
    transform: rotate(90deg);

}


input
{
    height: 40px;
    width: 250px;
    border-radius: 10px;
    margin: 0;
}

textarea
{
    height: 80px;
    width: 370px;
    border-radius: 10px;
    text-align: center;
}

::placeholder
{
    font-family: "Teko", sans-serif;
    color: black;
    text-align: center;
}



.about-p
{
    font-size: 13px;
    font-family: "Teko", sans-serif;
}

.modal-dialog
{
    box-shadow: rgb(148, 148, 148) 0px 0px 40px 0px;
    border: none;
    outline: none;
}



/* ---------------main page --------------------------- */
.frontpgbg
{
    
    height: 760px;
}

.amazon
{
    color: rgb(248,193,7);
}

.amazon-logo
{
    height: 18px;
}

.amazon-logo2
{
    height: 50px;
}


.maincontainer
{
    display: flex;
    flex-wrap: wrap;
    padding-right: 0%;
    height: 400px;
    width: 100%;
}

.maincontainer section
{
    height: 100%;
}

#setting
{
    float: right;
    margin-right: 20px;
}

.maintext
{
    width: 50%;
    /* flex: 1 0 12 rem; */
}

.objective
{
    text-align: justify;
}


/* cv btn */

.cv-button {
  padding: 0.6em 2em;
  width: 400px;
  border: none;
  outline: none;
  color: goldenrod;
  cursor: pointer;
  position: relative;
  z-index: 0;
  background-color: #222;
  border-radius: 10px;
  box-shadow: rgb(247, 223, 88) 0px 0px 20px 0px ;
  transition: 1s;
}

.button-85:hover
{
    transform: translateY(-10px) translateX(10px);
}
.button-85:active
{
    transform: translateX(8px);
}



.spacebtw
{
    width: 20%;
}




.mainimage
{
    width: 30%;
    /* height: 100%; */
    /* flex: 1 0 14rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainimage img
{
    /* height: 50%; */
    width: 100%;
    /* margin-top: -200px; */
    /* filter: drop-shadow(15px 5px 5px rgb(226, 187, 132)) ; */
}

.mainimgframe
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.mainimgframe div
{

    display: flex;
    justify-self: center;
    align-items: center;
}


.firstimg
{
    margin-top: 30px;
    height: 50%;
    width: 70%;
    flex: 1 0 8rem;
    /* margin-top: 50px; */
    transition: 1s;
    /* filter: drop-shadow( white 30px 0px 0px ); */
}

.firstimg:hover
{
    filter: drop-shadow(white  0px 20px 0px  );
}

.amazonimg
{
    height: 50%;
    width: 80%;
    flex: 1 0 8rem;
    margin-top: 50px;
    transition: 1s;
}
.amazonimg:hover
{
    height: 60%;
    width: 100%;
}




/* image section------------------------------ */

.image-about
{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    margin-top: 100px;
    /* margin: 100px 0px 150px 0px; */
}

.image-about aside
{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.img-abt-txt-as
{
    display: flex;
    flex-direction: column;
}

.sof-lyf p
{
    font-size: 25px;
    transition: .5s;
}

.sof-lyf p:hover
{
    font-size: 40px;
    transform: translateX(30px);
    color: #f03939;
}

.image-about aside img
{
    height: 90%;
    border-radius: 20px;
}

.my-img
{
    transition: .5s;
}

.my-img:hover
{
    box-shadow: 0px  0px 30px 0px #5f5f5f;
    height: 90.5%;
}


/* ---------------------------------------- carousel ------------------------------------ */

.c-item
{
    height:600px ;
}

.c-img
{
    height: 100%;
    /* object-fit: cover; */
    filter: brightness(0.7);
}
.c-img:hover
{
    filter:brightness(1)
}


/* .carousel-inner > .c-item
{
    animation: fade-in linear;
    animation-timeline: view();
}

@keyframes fade-in {
    from{scale: .8;opacity: 0;}
    to{scale: 1; opacity: 1;}
} */




/* ------------------------------------ text carousel ---------------------------------------- */

.carousel-inner2
{
    height: 400px;
    width: 70%;
    background-color: rgb(210, 189, 189);
    margin-top: 250px;
    margin-bottom: 150px;
    color: #111;
    text-align: center;
    border-radius: 20px;
    font-family: "Anta", sans-serif;
}
.carousel-inner2 h1
{
    height: 30%;
    margin-top: 30px;
}


.i2
{
    height: 60%;
}

#intern-btn
{
    /* height: 50px; */
    /* width: 200px; */
    background-color: #111;
    color: white;
}



/* skill  */

.hskill
{
    font-family: "Anta", sans-serif;
    margin-top: 70px;
}


#skillhr
{
    width: 200px;
    transition: 1s;
}
#skillhr:hover
{
    width: 300px;
}

.secsec, .secsecinbox
{
    height: 800px;
    width: 100%;
    align-items: center;
}

.secsec
{
    
    background:linear-gradient(rgb(33,37,41),rgb(37, 35, 35),rgb(36,36,36) );
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Anta", sans-serif;

}

.cards
{
    margin-bottom:-100px;
}


#skillcards
{
    /* width: 0px; */
    margin-top: 40px;
    transition: 1s;
    
}
#skillcards:hover
{
    transform: translateY(-30px) 
}






/* gallery */


.gallery
{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gal-head
{
    height: 150px;
    font-size: 100px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: -50px;
    font-family: "Anta", sans-serif;
}

.video, video
{
    height: 150px;
    width: 100%;
    transition: 1s;
}

.video:hover, video:hover
{
    height: 400px;
    width: 100%;
}


/* feedback */

.feedback
{
    background:linear-gradient(rgb(33,37,41),rgb(37, 35, 35),rgb(36,36,36) );
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: url(https://i.pinimg.com/originals/1d/73/5a/1d735ad8eee8350adc96d50e1421ee6d.gif);
    object-fit: contain;
    align-items: center;
    height: 300px;
    width: 100%;
    border-radius: 20px;
    margin-top: 200px;
    margin-bottom: 120px;
}


/* cv */

.cv-sec
{
    height: 600px;
    width: 100%;
}
.cv-as
{
    height: 300px;
    width: 50%;
    background-color: #222;
    box-shadow: rgb(124, 125, 125) 0px 0px 40px 0px;
    color: rgb(126, 128, 130);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}
.cv-btn
{
    font-family: "Anta", sans-serif;
    color: rgb(255,193,7);
    font-size: 50px;
}
.fa-file
{
    color: rgb(255,193,7);
    font-size: 80px;
}
.fa-file:hover , .cv-btn:hover
{
    color: #7a00ff;
}
.fa-file:active , .cv-btn:active
{
    color: #ff0000;
}








/* social */

.sociallinks 
{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.soheading
{
    height: 75px;
    width: 100%;

}

.solicard
{
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    text-decoration: none;
}


.socards
{
    width: 200px;
    margin: 10px ;
}



#socardscs
{
    width: 500px;
    margin: 10px ;
}



.modal-content-support
{
    height: 600px;
}

.chat-body
{
    height: 400px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-end;
    font-family: "Anta", sans-serif;
}

.bot-send-btn
{
    margin: 0px 10px 0px 10px;
    color: white;
    border: #111 solid;
    color: black;
}

.modal-footer-support
{
    display: flex;
    justify-content: flex-start;
}

.i-btn
{
    border-radius: 50%;
    margin: 10px;
}
.dropdown-menu-support
{
    outline: dotted;
    padding: 20px;
}


::-webkit-scrollbar
{
    width: 30px;
}

::-webkit-scrollbar-track
{
    background-color: gold;
}

::-webkit-scrollbar-thumb
{
    background-color: #111;
    /* border-radius: 10px; */
}




@media all and (max-width:600px){
    
    .button-85
    {
        font-size: 10px;
    }
    .button-17
    {
        margin-top: -15px;
    }

    .i2
    {
        height: 75%;
    }

    .carousel-inner2
    {
        height: 270px;
        text-align: center;
    }
    .carousel-inner2 h1
    {
        height: 25%;
        /* margin-bottom: 40px; */
    }
    .carousel-inner2 h2
    {
        font-size: 23px;
    }
    .carousel-inner2 h4
    {
        font-size: 15px;
    }
    .carousel-control-prev , .carousel-control-next
    {
        display: none;
    }





    .secsec, .secsecinbox
    {
        height: 1200px;
    }

    .gal-head
    {
        margin-top: 110px;
        font-size: 50px;
        margin-bottom: -90px;
    }


    .sociallinks
    {
        flex-direction: column;
        

    }

    .linkss
    {
        display: flex;
        
    }
    .solicard
    {
        /* flex-direction: ; */
        margin-top: 40px;
        
    }
    #socardscs
    {
        margin: 10px ;

        
    }

    .socards
    {
        width: 170px;
        height:75px;
    }
    #socardscs
    {
        width: 170px;
    }

    .gallery
    {
        margin-top: 100px;
        height: 1000px;
        flex-wrap: wrap ;
    }
    
   .feedback
   {
    padding: 90px;
    height: 300px;
    width: 400px;
    margin-top: 65px;
    text-align: center;
   }
   .feed-bar
   {
    height: 30px;
    width: 200px;
    /* margin-left: -100px; */
    margin-left: -80px;
   }
   .fa-file
   {
    font-size: 70px;
   }
   .cv-btn
   {
    font-size: 30px;
   }
   video
    {
        margin: 10px;
    }

    ::-webkit-scrollbar
{
    width: 25px;
}


}


@media all and (max-width:1000px){
    .maintext h1
    {
        font-size: 25px;
        width: 200%;
    }
    .objective
    {
        font-size: 10px;
    }
    
    .maintext
    {
        /* width: 100%; */
    }
    .mainimage
    {
        /* opacity: 0; */
    }
    .firstimg
    {
        margin-top: -60px;
    }
    .amazonimg
    {
        margin-top: -250px;
    }
    
    .frontpgbg
    {
        
        height: 500px;
    }
    .cv-button
    {
        width: 200px;
    }



    .image-about
    {
        height: 300px;
    }
    
    .image-about p
    {
        font-size: 12px;
    }
    
    .image-about aside
    {
        padding: 10px;
    }

    .sof-lyf p
{
    font-size: 10px;
}
.sof-lyf p:hover
{
    font-size: 15px;
}


    .c-item
    {
        height: 245px;
    }
    
}


@media all and (min-width:1200px)
{
    .button-17
    {
        margin-top: 50px;
    }
    #socardscs
    {
        width: 420px;
        
        margin: 10px ;
    
    }


    
}


/* footer */

footer
{
    height: 635px;
    background-image: url(img-src/fooimg.jpg);
}



a
{
    text-decoration: none;
}







